<div class="col-lg-4 braintree-block">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Add money by Braintree</strong></div>
        <div class="panel-body">
            <form action="/braintree-rb/index" method="POST" class="form-horizontal">
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="number" step="0.01" name="amount" class="input-sm form-control"
                                   style="width:calc(100% - 60px)" placeholder="Amount" oninput="checkAmountForEmpty(this)" required>

                            <div class="input-group-addon select-type" style="width: 60px">
                                <button class="btn btn-primary" type="submit">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(':not(.braintree-block) + .braintree-block, * > .braintree-block:first-of-type').each(function () {
        $(this).nextUntil(':not(.braintree-block)').addBack().wrapAll('<div class="row" />');
    });
    function checkAmountForEmpty(input) {
        if (input.value == 0) {
            input.setCustomValidity('Amount must be no less than 0.01.');
            return;
        }
        input.setCustomValidity('');
    }
</script>
