.other-payment-wrapper {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.other-payment-wrapper .buttons-holder {
    display: flex;
    justify-content: flex-start;
}

.other-payment-wrapper .buttons-holder .pay-button-wrap {
    width: calc((100% - 20px) / 3);
    margin-right: 46px;
    height: 45px;
}

.other-payment-wrapper .buttons-holder .pay-button-wrap .btn-transparent {
    background-color: #000;
    box-shadow: none;
    padding: 13px 24px 12px;
    text-align: center;
    height: auto;
    color: #fff;
}

.other-payment-wrapper .buttons-holder #paypal_button.pay-button-wrap .btn-transparent {
    background-color: #ffc439;
}

.other-payment-wrapper .buttons-holder .pay-button-wrap .btn-transparent:hover {
    background-color: #3c4043;
}

.other-payment-wrapper .buttons-holder .pay-button-wrap .btn-transparent img {
    height:17px;
}

.other-payment-wrapper .buttons-holder .pay-button.disabled-button div {
    pointer-events: none;
    opacity: 0.5;
}

.other-payment-wrapper .buttons-holder .pay-button.disabled-button:hover {
    cursor: not-allowed;
}
